<form>
  <p>Name: <input type='text' name='figure[name]'/></p>
</form>

<h1>Titles</h1>
<% @titles.each do |title| %>
<p>
  <%=title.name%><input type='checkbox' name='figure[title_ids][]' id='<%=title.name%></input>
</p>
<br>
<h1>Create New Title:</h1>
</br>
<input type='text' name='title[name]'></input>
<br>
<h1>Landmarks</h1>
</br>
<% @landmarks.each do |landmark| %>
<p>
  <%=landmark.name%><input type='checkbox' name='figure[landmarks_ids][]' id='<%=landmark.name%>'></input>
</p>
