<form>
  <p>Name: <input type='text' name='figure[name]'/></p>
</form>

<h1>Titles</h1>
<% @titles.each do |title| %>
<p>
  <%=title.name%><input type='checkbox' name='figure[title_ids][]' id='<%=title.name%></input>
</p>

<% @landmarks.each do |landmark| %>
<p>
  <input type='checkbox' name='figure[landmarks_ids][]' id='<%=landmark.name%>'><%=landmark.name%></input>
</p>
